body{
    font-min-size: larger;


}
h1 {
    color: burlywood;

}

h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: blueviolet;
  font-size:6vw;
  z-index: 1;
}

p {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 36px;
  z-index: 1;
}


.slideshow{
    height: 1900px;
    width: 1900px;
    position: relative;
    background-position: center;
    background-image: url("Images/back-one.jpg");
    background-size: cover;
    animation: slideshow 30s infinite;

}
@keyframes slideshow {
    0% {
        background-image: url("Images/back-three.jpg");

    }
    25% {
        background-image: url("Images/back-two.jpg");
    }

    50% {
        background-image:url("Images/background-three.jpg");
    }
    75% {
        background-image:url("Images/background-one.jpg");
    }
    85% {
        background-image: url("Images/background-two.jpg");
    }
    100% {
        background-image: url("Images/back-one.jpg");
    }
}
@media screen and (min-width: 600px) {
    h1 {
        font-size: 4rem;
    }
    p {
        font-size: 2rem;
    }
}
@media screen and (min-width: 900px) {
    h1 {
        font-size: 5rem;
    }
    p {
        font-size: 2.5rem;
    }

}